<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActiproSoftware.Controls.WinForms" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Bars" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Docking" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Navigation" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Shared" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.SyntaxEditor" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.SyntaxEditor.Addons.DotNet" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.SyntaxEditor.Addons.JavaScript" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.SyntaxEditor.Addons.Python" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.SyntaxEditor.Addons.XML" version="21.1.0" targetFramework="net472" />
  <package id="ActiproSoftware.Controls.WinForms.Wizard" version="21.1.0" targetFramework="net472" />
  <package id="AvalonEdit" version="6.1.2.30" targetFramework="net472" />
  <package id="EmptyLicensesLicx" version="2.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.DebuggerVisualizers" version="17.0.1061105" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>